header {
    background-color: #852C3A;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.logo{
    height: 8rem;
    width: 8rem;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
